*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('./fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.wrapper{
    display: flex;
    margin: 0 auto;
    max-width: 120rem; 
    flex: 1;
    justify-content: space-between;
}

.header{
    display: flex;
    background: white;

    &-wrapper{
        display: flex; 
        width: 100vw;
        height: 100vh;
        background: url(../assets/image/img9.jpg);
        /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.5%, rgba(27, 30, 34, 0.4) 42.42%, #1B1E22 80.67%), url(../assets/image/img7.jpg);*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-menu{
        display: flex;
        width: 100%;
        background: #c8bfbf69;
        position: fixed;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    }
    &-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5vw;
        width: 50%;
        min-width: 420px;

        & li{
            text-decoration: none;
            list-style: none;
        }
        .list__link{
            text-decoration: none;
            list-style: none;
            color: black;
            font-size: 14px;
        }
    }

    &-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5vw;

        &__burger{
            display: none;
        }
        &__img{
            width: 60px;
            height: 60px;
        }
    }

    .list-icon{
        display: flex;
        flex-direction: column-reverse;
        position: fixed;
        top: 70px;
        left: 0;
        height: 70vh;
        width: 70px;
        background: #c8bfbf69;
        padding-bottom: 30px;
        border-right: 0.5px solid rgba(0, 0, 0, 0.5);

        & li{
            text-decoration: none;
            list-style: none;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__links{
            text-decoration: none;
            color: black;
        }
    }
}


.icon {
    z-index: 1;
    display: inline-block;
    margin: 0 auto;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;

&-envelope:before {
        content: "\f0e0";
      }
      
&-telegram:before {
        content: "\f2c6";
      }
      
&-linkedin:before {
        content: "\f0e1";
      }
      
&-github:before {
        content: "\f09b";
        font-size: 40px;
      }
  }

  .animation {
    transition: all 0.3s ease 0s;

    &:hover {
        z-index: 2;
        transform: scale(1.2);
        transition: all 0.3s ease 0s;
        color: black;
      }
  }
  
  
  .hero{
    display: flex;

    .carousel{
        display: flex;
        width: 100%;
    }
    
    .item-container{
        display: flex;
    }
    
    .item{
        width: 100%;
    }
} 