* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("./fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  background: url(../assets/image/img9.jpg);
  /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.5%, rgba(27, 30, 34, 0.4) 42.42%, #1B1E22 80.67%), url(../assets/image/img7.jpg);*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  background: #c8bfbf69;
  position: fixed;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5vw;
  width: 50%;
  min-width: 420px;
}

.header-list li {
  text-decoration: none;
  list-style: none;
}

.header-list .list__link {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 14px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5vw;
}

.header-logo__burger {
  display: none;
}

.header-logo__img {
  width: 60px;
  height: 60px;
}

.header .list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: fixed;
  top: 70px;
  height: 70vh;
  width: 70px;
  background: #c8bfbf69;
  padding-bottom: 30px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
}

.header .list-icon li {
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 30px;
}

.header .list-icon__links {
  text-decoration: none;
  color: black;
}

.header .icon {
  z-index: 1000;
  display: inline-block;
  margin: 0 auto;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px;
  text-rendering: auto;
}

.header .icon-envelope:before {
  content: "\f0e0";
}

.header .icon-telegram:before {
  content: "\f2c6";
}

.header .icon-linkedin:before {
  content: "\f0e1";
}

.header .icon-github:before {
  content: "\f09b";
  font-size: 40px;
}

.header .animation {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .animation:hover {
  z-index: 2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: black;
}

main {
  /*overflow-x: hidden;*/
  background: yellow;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.99;
  /*ARROWS*/
}

.hero-wrapper {
  width: 100%;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 20% 30px;
  font-size: 16px;
  border: 1px solid black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-content-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 30%;
}

.hero-content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

.hero .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /*transform: translate(-50%, -50%);*/
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.hero .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero .item {
  display: none;
  margin: 0 auto;
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
  /*ACTIVE BLOCK SLIDER*/
  /*NEXT BLOCK SLIDER*/
}

.hero .item-active {
  display: block;
}

.hero .item-next {
  display: block;
  position: absolute;
  top: 0;
}

.hero .control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  cursor: pointer;
}

.hero .control-left {
  left: 0;
  right: auto;
}

.hero .control-right {
  right: 0;
  left: auto;
}

.hero .control-arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 84px;
}

.hero .control-arrow__right {
  right: 50%;
}

.hero .to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.hero .to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.hero .from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

.hero .from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

@-webkit-keyframes left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 960px) {
  .header-list {
    display: none;
  }
  .header .list-icon {
    display: none;
  }
  .header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .burger-line {
    background-color: black;
    height: 2px;
    margin-top: 5px;
    width: 23px;
    margin-right: 9vw;
  }
  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .hero-content {
    border: none;
  }
  .hero .control-arrow {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */