* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("./fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url(../assets/image/img9.jpg);
  /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.5%, rgba(27, 30, 34, 0.4) 42.42%, #1B1E22 80.67%), url(../assets/image/img7.jpg);*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #c8bfbf69;
  position: fixed;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5vw;
  width: 50%;
  min-width: 420px;
}

.header-list li {
  text-decoration: none;
  list-style: none;
}

.header-list .list__link {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 14px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5vw;
}

.header-logo__burger {
  display: none;
}

.header-logo__img {
  width: 60px;
  height: 60px;
}

.header .list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: fixed;
  top: 70px;
  left: 0;
  height: 70vh;
  width: 70px;
  background: #c8bfbf69;
  padding-bottom: 30px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
}

.header .list-icon li {
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  margin-bottom: 30px;
}

.header .list-icon__links {
  text-decoration: none;
  color: black;
}

.icon {
  z-index: 1;
  display: inline-block;
  margin: 0 auto;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px;
  text-rendering: auto;
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-telegram:before {
  content: "\f2c6";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-github:before {
  content: "\f09b";
  font-size: 40px;
}

.animation {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.animation:hover {
  z-index: 2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: black;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.hero .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .item {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */