*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('./fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.wrapper{
    display: flex;
    margin: 0 auto;
    max-width: 120rem; 
    flex: 1;
    justify-content: space-between;
}

.header{
    display: flex;
    background: white;

    &-wrapper{
        display: flex; 
        width: 100%;
        height: 100vh;
        background: url(../assets/image/img9.jpg);
        /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.5%, rgba(27, 30, 34, 0.4) 42.42%, #1B1E22 80.67%), url(../assets/image/img7.jpg);*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-menu{
        display: flex;
        width: 100vw;
        background: #c8bfbf69;
        position: fixed;
        height: 70px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    }
    &-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5vw;
        width: 50%;
        min-width: 420px;

        & li{
            text-decoration: none;
            list-style: none;
        }
        .list__link{
            text-decoration: none;
            list-style: none;
            color: black;
            font-size: 14px;
        }
    }

    &-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5vw;

        &__burger{
            display: none;
        }
        &__img{
            width: 60px;
            height: 60px;
        }
    }

    .list-icon{
        display: flex;
        flex-direction: column-reverse;
        position: fixed;
        top: 70px;
        height: 70vh;
        width: 70px;
        background: #c8bfbf69;
        padding-bottom: 30px;
        border-right: 0.5px solid rgba(0, 0, 0, 0.5);

        & li{
            text-decoration: none;
            list-style: none;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &__links{
            text-decoration: none;
            color: black;
        }
    }

    .icon {
        z-index: 1000;
        display: inline-block;
        margin: 0 auto;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 30px;
        text-rendering: auto;
    
    &-envelope:before {
            content: "\f0e0";
          }
          
    &-telegram:before {
            content: "\f2c6";
          }
          
    &-linkedin:before {
            content: "\f0e1";
          }
          
    &-github:before {
            content: "\f09b";
            font-size: 40px;
          }
      }
    
      .animation {
        transition: all 0.3s ease 0s;
    
        &:hover {
            z-index: 2;
            transform: scale(1.2);
            transition: all 0.3s ease 0s;
            color: black;
          }
      }
}



  
  main{
      /*overflow-x: hidden;*/
      background: yellow;
  }
  
  .hero{
    display: flex;
    opacity: 0.99;

    &-wrapper{
        width: 100%;
    }

    &-content{
        display: flex;
        margin: 30px 20% 30px;
        font-size: 16px;
        border: 1px solid black;
        justify-content: space-between;


        &-name{
            display: flex;
            padding: 10px;
            width: 30%;
        }

        &-img{
            display: flex;
            width: 70%;
        }
    }

    .carousel{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        /*transform: translate(-50%, -50%);*/
        transform: translateX(0%);
    }

    
    .item-container{
        display: flex;
        width: 100%;
        overflow: hidden;
        //position: relative;
        position: relative;
    }
    
    .item{
        display: none;
        margin: 0 auto;
        animation: 0.5s ease-in-out;

/*ACTIVE BLOCK SLIDER*/

        &-active{
            display: block;
        }

/*NEXT BLOCK SLIDER*/

        &-next{
            display: block;
            position: absolute;
            top: 0;
        }
    }

/*ARROWS*/
    .control{
        position: absolute;
        top:0;
        bottom: 0;
        width: 15%;
        cursor: pointer;

        &-left{
            left: 0;
            right: auto;
        }

        &-right{
            right: 0;
            left: auto;
        }

        &-arrow{
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 84px;

            &__right{
                right: 50%;
            }
        }

    }

//ANIMATION
    .to-left{
        animation-name: left;
    }  
    .to-right{
        animation-name: right;
        animation-direction: reverse;
    }   
    .from-left{
        animation-name: left;
        animation-direction: reverse;
    }
    .from-right{
        animation-name: right;
    }

    @keyframes left {
        from{
            transform: translateX(0%);
        }
        to{
            transform: translateX(-100%);
        }
    }

    @keyframes right{
        from{
            transform: translateX(100%);
        }
        to{
            transform: translateX(0);
        }
    }
} 


@media(max-width:960px){
    .hero{

        &-content{
            display: flex;
           flex-direction: column; 
           justify-content: center;
           align-items: center;
        }
    }
}

@media(max-width:600px){
    .hero{
        &-content{
            border: none;
        }

        .control-arrow{
            display: none;
        }


    }
    
}